# Preprocessing

## Check which patients have 5min and 15min bg measurements

In [1]:
import os
import pandas as pd

In [2]:
train_data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'train.csv')
train_data = pd.read_csv(train_data_file, index_col=0, low_memory=False)

In [3]:
patient_ids_train_data = train_data['p_num'].unique()
patient_ids_train_data

array(['p01', 'p02', 'p03', 'p04', 'p05', 'p06', 'p10', 'p11', 'p12'],
      dtype=object)

In [4]:
test_data_file = os.path.join('..', '..', '..', '..', 'data', 'interim', 'all_test_2h.csv')
test_data = pd.read_csv(test_data_file, low_memory=False)
test_data

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
0,p01,02:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.57
1,p01,02:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.40
2,p01,03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.57
3,p01,03:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.73
4,p01,03:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133704,p24,01:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.40
133705,p24,01:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.40
133706,p24,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.40
133707,p24,02:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.50
133708,p24,02:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.40

In [5]:
patient_ids_test_data = test_data['p_num'].unique()
patient_ids_test_data

array(['p01', 'p02', 'p04', 'p05', 'p06', 'p10', 'p11', 'p12', 'p15',
       'p16', 'p18', 'p19', 'p21', 'p22', 'p24'], dtype=object)

In [6]:
all_train_data = pd.concat([train_data, test_data], axis=0)
all_train_data

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133704,p24,01:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
133705,p24,01:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
133706,p24,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
133707,p24,02:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5
133708,p24,02:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4

In [9]:
patient_ids = all_train_data['p_num'].unique()
patient_ids

array(['p01', 'p02', 'p03', 'p04', 'p05', 'p06', 'p10', 'p11', 'p12',
       'p15', 'p16', 'p18', 'p19', 'p21', 'p22', 'p24'], dtype=object)

In [10]:
from pipelines import pipeline

all_train_data = pipeline.fit_transform(all_train_data)
all_train_data

,p_num,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,...,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00,day_phase_evening,day_phase_late_evening,day_phase_morning,day_phase_night,day_phase_noon
p01_0,p01,2.756591,2.865378,2.972124,3.077785,3.101882,3.123692,3.144173,3.104360,3.062068,...,NaN,NaN,NaN,NaN,13.4,0,0,1,0,0
p01_1,p01,3.074036,3.098392,3.120433,3.141335,3.101882,3.060078,3.016982,2.945247,2.871133,...,NaN,NaN,NaN,NaN,12.8,0,0,1,0,0
p01_2,p01,3.137524,3.098392,3.056872,3.014235,2.942870,2.869238,2.794397,2.817957,2.839311,...,NaN,NaN,NaN,NaN,15.5,0,0,1,0,0
p01_3,p01,3.010547,2.939519,2.866188,2.791811,2.815660,2.837432,2.857993,2.839172,2.818096,...,NaN,NaN,NaN,NaN,14.8,0,0,1,0,0
p01_4,p01,2.788336,2.812420,2.834408,2.855360,2.836861,2.816227,2.794397,2.680059,2.563516,...,NaN,NaN,NaN,NaN,12.7,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133704,p24,-0.195640,-0.259130,-0.354244,-0.544560,-0.703815,-0.703714,-0.735157,-0.735559,-0.830877,...,-0.585898,-0.431852,-0.586511,-0.586526,6.4,0,0,0,1,0
133705,p24,-0.259129,-0.354454,-0.544928,-0.703435,-0.703815,-0.735521,-0.735157,-0.831027,-0.830877,...,-0.431446,-0.586200,-0.586511,-0.586526,6.4,0,0,0,1,0
133706,p24,-0.354362,-0.545102,-0.703830,-0.703435,-0.735618,-0.735521,-0.830550,-0.831027,-0.830877,...,-0.585898,-0.586200,-0.586511,-0.575898,6.4,0,0,0,1,0
133707,p24,-0.544829,-0.703976,-0.703830,-0.735210,-0.735618,-0.830941,-0.830550,-0.831027,-0.830877,...,-0.585898,-0.586200,-0.575875,-0.586526,6.5,0,0,0,1,0
133708,p24,-0.703551,-0.703976,-0.735611,-0.735210,-0.831025,-0.830941,-0.830550,-0.831027,-0.862700,...,-0.585898,-0.575556,-0.586511,-0.586526,6.4,0,0,0,1,0