# Preprocessing

* Cyclic time features
* p_num as categorical
* selected features are bg, insulin, cals, steps, hr for the last 1:00 hour
* for training only used data extracted from the test data

**Scoring: 2.4130**

* I stop here with the baseline model because the global model with train data (3.30) performs better

In [4]:
from data import load_data

_, additional_train_data, test_data = load_data()

In [5]:
from pipelines import preprocessing_pipeline, standardization_pipeline

train_data = preprocessing_pipeline.fit_transform(additional_train_data)
train_data.head()

,p_num,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,...,insulin-0:25,insulin-0:20,insulin-0:15,insulin-0:10,insulin-0:05,insulin-0:00,hr-0:00,steps-0:00,cals-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_test_12,p01,0.461749,0.887011,9.2,9.2,9.5,9.9,10.2,10.2,10.3,...,0.01,0.01,0.01,0.01,0.01,0.01,58.2,0.0,4.9,14.60
p01_test_13,p01,0.480989,0.876727,9.2,9.5,9.9,10.2,10.2,10.3,10.3,...,0.01,0.01,0.01,0.01,0.01,0.01,58.5,0.0,4.8,14.40
p01_test_14,p01,0.500000,0.866025,9.5,9.9,10.2,10.2,10.3,10.3,10.3,...,0.01,0.01,0.01,0.01,0.01,0.01,58.1,0.0,4.9,14.13
p01_test_15,p01,0.518773,0.854912,9.9,10.2,10.2,10.3,10.3,10.3,10.2,...,0.01,0.01,0.01,0.01,0.01,0.01,58.2,0.0,4.9,13.87
p01_test_16,p01,0.537300,0.843391,10.2,10.2,10.3,10.3,10.3,10.2,10.2,...,0.01,0.01,0.01,0.01,0.01,0.01,56.9,0.0,4.9,13.60

In [6]:
train_data = standardization_pipeline.fit_transform(train_data)
train_data.head()

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,p_num_p10,p_num_p11,p_num_p12,p_num_p15,p_num_p16,p_num_p18,p_num_p19,p_num_p21,p_num_p22,p_num_p24
id,,,,,,,,,,,,,,,,,,,,,
p01_test_12,0.657415,1.257940,0.136884,0.137419,0.230922,0.355490,0.449093,0.449769,0.481438,0.482184,...,0,0,0,0,0,0,0,0,0,0
p01_test_13,0.684650,1.243409,0.136884,0.230325,0.354844,0.448465,0.449093,0.480785,0.481438,0.482184,...,0,0,0,0,0,0,0,0,0,0
p01_test_14,0.711561,1.228289,0.229751,0.354200,0.447785,0.448465,0.480097,0.480785,0.481438,0.451151,...,0,0,0,0,0,0,0,0,0,0
p01_test_15,0.738135,1.212586,0.353575,0.447106,0.447785,0.479457,0.480097,0.480785,0.450412,0.451151,...,0,0,0,0,0,0,0,0,0,0
p01_test_16,0.764360,1.196309,0.446443,0.447106,0.478765,0.479457,0.480097,0.449769,0.450412,0.606317,...,0,0,0,0,0,0,0,0,0,0

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,p_num_p10,p_num_p11,p_num_p12,p_num_p15,p_num_p16,p_num_p18,p_num_p19,p_num_p21,p_num_p22,p_num_p24
id,,,,,,,,,,,,,,,,,,,,,
p01_test_12,0.461749,0.887011,0.136884,0.137419,0.230922,0.355490,0.449093,0.449769,0.481438,0.482184,...,0,0,0,0,0,0,0,0,0,0
p01_test_13,0.480989,0.876727,0.136884,0.230325,0.354844,0.448465,0.449093,0.480785,0.481438,0.482184,...,0,0,0,0,0,0,0,0,0,0
p01_test_14,0.500000,0.866025,0.229751,0.354200,0.447785,0.448465,0.480097,0.480785,0.481438,0.451151,...,0,0,0,0,0,0,0,0,0,0
p01_test_15,0.518773,0.854912,0.353575,0.447106,0.447785,0.479457,0.480097,0.480785,0.450412,0.451151,...,0,0,0,0,0,0,0,0,0,0
p01_test_16,0.537300,0.843391,0.446443,0.447106,0.478765,0.479457,0.480097,0.449769,0.450412,0.606317,...,0,0,0,0,0,0,0,0,0,0