# Preprocessing

Final model for individual patients
Based on 3.25

In [1]:
from data import load_data
import pandas as pd

train_data, additional_train_data, test_data, unique_patients = load_data()
unique_patients

array(['p01', 'p02', 'p04', 'p05', 'p06', 'p10', 'p11', 'p12', 'p15',
       'p16', 'p18', 'p19', 'p21', 'p22', 'p24'], dtype=object)

In [2]:
train_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [3]:
additional_train_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_test_12,p01,01:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.60
p01_test_13,p01,01:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.40
p01_test_14,p01,02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.13
p01_test_15,p01,02:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.87
p01_test_16,p01,02:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.60

In [4]:
test_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:45,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00
id,,,,,,,,,,,,,,,,,,,,,
p01_8459,p01,06:45:00,NaN,9.2,NaN,NaN,10.2,NaN,NaN,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
p01_8460,p01,11:25:00,NaN,NaN,9.9,NaN,NaN,9.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Walk,Walk,Walk
p01_8461,p01,14:45:00,NaN,5.5,NaN,NaN,5.5,NaN,NaN,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
p01_8462,p01,04:30:00,NaN,3.4,NaN,NaN,3.9,NaN,NaN,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
p01_8463,p01,04:20:00,NaN,NaN,8.3,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
patient_id = unique_patients[0]
patient_id

'p01'

In [6]:
patient_train_data = pd.concat([train_data[train_data['p_num'] == patient_id], additional_train_data[additional_train_data['p_num'] == patient_id]])
patient_train_data.shape

(19211, 507)

In [7]:
patient_test_data = test_data[test_data['p_num'] == patient_id]
patient_test_data.shape

(244, 506)

In [8]:
from pipelines import preprocessing_pipeline

patient_train_data_preprocessed = preprocessing_pipeline.fit_transform(patient_train_data)
patient_train_data_preprocessed.head()

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,0.999048,-0.043619,17.3,17.4,17.4,17.5,17.4,17.4,17.3,16.9,...,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,13.4
p01_1,0.994056,-0.108867,17.5,17.4,17.4,17.3,16.9,16.6,16.2,15.8,...,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,12.8
p01_2,0.984808,-0.173648,17.3,16.9,16.6,16.2,15.8,15.5,15.1,14.9,...,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,15.5
p01_3,0.971342,-0.237686,16.2,15.8,15.5,15.1,14.9,14.6,14.4,14.2,...,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,14.8
p01_4,0.953717,-0.300706,15.1,14.9,14.6,14.4,14.2,14.1,13.9,13.9,...,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,5.68,12.7

In [9]:
patient_test_data_preprocessed = preprocessing_pipeline.transform(patient_test_data)
patient_test_data_preprocessed.head()

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,cals-0:45,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00
id,,,,,,,,,,,,,,,,,,,,,
p01_8459,0.980785,-0.195090,13.5,13.0,12.4,11.8,11.1,10.5,10.2,10.0,...,4.9,4.9,4.9,4.8,4.8,4.8,4.8,4.8,4.9,6.1
p01_8460,0.152123,-0.988362,3.9,4.1,4.3,4.5,5.1,5.8,6.4,6.4,...,12.2,5.9,9.7,13.9,16.2,16.7,23.1,30.5,24.6,32.4
p01_8461,-0.659346,-0.751840,4.9,5.5,6.0,6.6,7.1,7.6,8.1,8.2,...,19.2,17.6,10.0,25.2,12.3,6.8,6.5,8.0,19.8,10.2
p01_8462,0.923880,0.382683,6.4,6.8,7.1,7.5,7.6,7.7,7.8,8.0,...,4.8,4.8,4.8,5.0,4.9,4.9,4.8,4.8,4.9,4.8
p01_8463,0.906308,0.422618,3.3,3.3,3.4,3.4,3.3,3.3,3.2,3.4,...,10.3,4.8,4.8,4.8,4.9,4.8,4.8,4.8,4.8,4.8

In [10]:
from pipelines import pipeline

patient_train_data_transformed = pipeline.fit_transform(patient_train_data)
patient_train_data_transformed.head()

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,1.407712,-0.046143,2.165055,2.194551,2.190038,2.205829,2.183948,2.179576,2.144633,2.046924,...,-0.49896,-0.498023,-0.497886,-0.499456,-0.498237,-0.498201,-0.500512,-0.500905,-0.501238,13.4
p01_1,1.400722,-0.139375,2.216292,2.194551,2.190038,2.154739,2.055946,1.975082,1.864514,1.766162,...,-0.49896,-0.498023,-0.497886,-0.499456,-0.498237,-0.498201,-0.500512,-0.500905,-0.501238,12.8
p01_2,1.387772,-0.231940,2.165055,2.066162,1.984914,1.873744,1.774339,1.693902,1.584396,1.536447,...,-0.49896,-0.498023,-0.497886,-0.499456,-0.498237,-0.498201,-0.500512,-0.500905,-0.501238,15.5
p01_3,1.368918,-0.323443,1.883250,1.783708,1.702869,1.592749,1.543934,1.463846,1.406139,1.357780,...,-0.49896,-0.498023,-0.497886,-0.499456,-0.498237,-0.498201,-0.500512,-0.500905,-0.501238,14.8
p01_4,1.344239,-0.413492,1.601445,1.552609,1.472106,1.413934,1.364730,1.336038,1.278812,1.281208,...,-0.49896,-0.498023,-0.497886,-0.499456,-0.498237,-0.498201,-0.500512,-0.500905,-0.501238,12.7

In [11]:
patient_test_data_transformed = pipeline.transform(patient_test_data)
patient_test_data_transformed.head()

,hour_sin,hour_cos,bg-1:00,bg-0:55,bg-0:50,bg-0:45,bg-0:40,bg-0:35,bg-0:30,bg-0:25,...,cals-0:45,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00
id,,,,,,,,,,,,,,,,,,,,,
p01_8459,1.382140,-0.262579,1.191546,1.064733,0.908016,0.749764,0.571113,0.415814,0.336596,0.285778,...,-0.626500,-0.628796,-0.628212,-0.644917,-0.645812,-0.644626,-0.645052,-0.646717,-0.630250,-0.431571
p01_8460,0.221840,-1.396078,-1.267843,-1.220581,-1.168859,-1.115020,-0.964921,-0.785588,-0.631086,-0.633081,...,0.592430,-0.462340,0.172954,0.875508,1.250164,1.334941,2.408770,3.623135,2.636529,3.930902
p01_8461,-0.914386,-1.058114,-1.011656,-0.861093,-0.732971,-0.578575,-0.452910,-0.325477,-0.198176,-0.173651,...,1.761267,1.485199,0.223027,2.763508,0.601541,-0.311925,-0.361363,-0.115063,1.840563,0.248510
p01_8462,1.302460,0.562997,-0.627377,-0.527283,-0.450927,-0.348670,-0.324907,-0.299915,-0.274572,-0.224699,...,-0.643198,-0.645442,-0.644903,-0.611501,-0.629181,-0.627991,-0.645052,-0.646717,-0.630250,-0.647207
p01_8463,1.277856,0.620060,-1.421554,-1.426002,-1.399623,-1.396015,-1.425732,-1.424632,-1.445976,-1.398796,...,0.275174,-0.645442,-0.644903,-0.644917,-0.629181,-0.644626,-0.645052,-0.646717,-0.646832,-0.647207