# Preprocessing

In [1]:
import os
import pandas as pd
import numpy as np

data_file = os.path.join('..', '..', '..', '..', 'data', 'raw', 'train.csv')
df = pd.read_csv(data_file, index_col=0, low_memory=False)
df.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [2]:
from pipelines import preprocessing_pipeline
df = preprocessing_pipeline.fit_transform(df)
display(df.head())
df.describe()

,day_phase,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,morning,17.2,17.533333,17.866667,18.2,18.266667,18.333333,18.4,18.266667,18.133333,...,17.433333,17.366667,17.3,16.933333,16.566667,16.2,15.833333,15.466667,15.1,13.4
p01_1,morning,18.2,18.266667,18.333333,18.4,18.266667,18.133333,18.0,17.766667,17.533333,...,16.933333,16.566667,16.2,15.833333,15.466667,15.1,14.866667,14.633333,14.4,12.8
p01_2,morning,18.4,18.266667,18.133333,18.0,17.766667,17.533333,17.3,17.366667,17.433333,...,15.833333,15.466667,15.1,14.866667,14.633333,14.4,14.233333,14.066667,13.9,15.5
p01_3,morning,18.0,17.766667,17.533333,17.3,17.366667,17.433333,17.5,17.433333,17.366667,...,14.866667,14.633333,14.4,14.233333,14.066667,13.9,13.866667,13.833333,13.8,14.8
p01_4,morning,17.3,17.366667,17.433333,17.5,17.433333,17.366667,17.3,16.933333,16.566667,...,14.233333,14.066667,13.9,13.866667,13.833333,13.8,13.666667,13.533333,13.4,12.7

,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,bg-1:15,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
count,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,...,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000,177024.000000
mean,8.279339,8.279456,8.279652,8.279266,8.279640,8.280004,8.280325,8.280603,8.280694,8.281071,...,8.281236,8.280829,8.279985,8.279546,8.279172,8.278990,8.278539,8.278266,8.278450,8.277045
std,2.993727,2.990313,2.991072,2.993828,2.990324,2.991782,2.995283,2.992039,2.993002,2.996314,...,2.994172,2.994624,2.997691,2.993709,2.994521,2.998377,2.993916,2.993959,2.998289,2.996398
min,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,...,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000,2.200000
25%,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,...,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000,6.100000
50%,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,...,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000,7.700000
75%,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,...,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000,9.900000
max,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,...,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000,27.800000

In [3]:
from pipelines import standardization_pipeline
df = standardization_pipeline.fit_transform(df)
display(df.head())
df.describe()

,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,bg-1:15,...,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00,day_phase_evening,day_phase_morning,day_phase_night,day_phase_noon
id,,,,,,,,,,,,,,,,,,,,,
p01_0,2.979792,3.094627,3.205219,3.313738,3.339790,3.360325,3.378547,3.337554,3.291901,3.243637,...,2.767561,2.641773,2.523390,2.400975,2.275154,13.4,False,True,False,False
p01_1,3.313825,3.339864,3.361240,3.380543,3.339790,3.293475,3.245003,3.170443,3.091433,3.010016,...,2.400222,2.274907,2.200512,2.122636,2.041687,12.8,False,True,False,False
p01_2,3.380632,3.339864,3.294374,3.246934,3.172584,3.092925,3.011302,3.036755,3.058022,3.076765,...,2.121935,2.041447,1.988971,1.933365,1.874925,15.5,False,True,False,False
p01_3,3.247019,3.172657,3.093776,3.013119,3.038818,3.059500,3.078074,3.059036,3.035748,3.010016,...,1.932700,1.874690,1.866500,1.855430,1.841572,14.8,False,True,False,False
p01_4,3.013196,3.038892,3.060343,3.079923,3.061113,3.037216,3.011302,2.891926,2.768457,2.642898,...,1.854780,1.841338,1.799698,1.755228,1.708162,12.7,False,True,False,False

,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,bg-1:20,bg-1:15,...,bg-0:40,bg-0:35,bg-0:30,bg-0:25,bg-0:20,bg-0:15,bg-0:10,bg-0:05,bg-0:00,bg+1:00
count,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,...,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,1.770240e+05,177024.000000
mean,3.211057e-16,5.381732e-16,-4.662455e-16,-4.829430e-16,1.297267e-16,-2.928484e-16,-7.873512e-16,-5.073470e-16,2.954173e-17,-9.479041e-16,...,-9.376287e-17,6.756064e-16,-1.117448e-16,2.311961e-16,-2.684444e-16,6.589089e-16,4.623922e-16,6.512024e-16,4.354194e-16,8.277045
std,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,...,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,1.000003e+00,2.996398
min,-2.030698e+00,-2.033056e+00,-2.032606e+00,-2.030606e+00,-2.033110e+00,-2.032241e+00,-2.029972e+00,-2.032266e+00,-2.031643e+00,-2.029523e+00,...,-2.031030e+00,-2.030588e+00,-2.028229e+00,-2.030779e+00,-2.030104e+00,-2.027432e+00,-2.030303e+00,-2.030182e+00,-2.027312e+00,2.200000
25%,-7.279705e-01,-7.288408e-01,-7.287215e-01,-7.279217e-01,-7.288996e-01,-7.286660e-01,-7.279215e-01,-7.288035e-01,-7.285996e-01,-7.279199e-01,...,-7.284960e-01,-7.282501e-01,-7.272235e-01,-7.280439e-01,-7.277218e-01,-7.267250e-01,-7.276574e-01,-7.275555e-01,-7.265666e-01,6.100000
50%,-1.935182e-01,-1.937782e-01,-1.937947e-01,-1.934873e-01,-1.938390e-01,-1.938661e-01,-1.937467e-01,-1.940497e-01,-1.940177e-01,-1.939290e-01,...,-1.941229e-01,-1.939577e-01,-1.934778e-01,-1.935884e-01,-1.934111e-01,-1.931015e-01,-1.932387e-01,-1.931446e-01,-1.929274e-01,7.700000
75%,5.413538e-01,5.419329e-01,5.417296e-01,5.413600e-01,5.418693e-01,5.414837e-01,5.407436e-01,5.412369e-01,5.410323e-01,5.403085e-01,...,5.406400e-01,5.406943e-01,5.404224e-01,5.412879e-01,5.412661e-01,5.406308e-01,5.415869e-01,5.416704e-01,5.408266e-01,9.900000
max,6.520539e+00,6.527946e+00,6.526223e+00,6.520345e+00,6.527859e+00,6.524557e+00,6.516824e+00,6.523795e+00,6.521667e+00,6.514331e+00,...,6.518938e+00,6.518090e+00,6.511702e+00,6.520509e+00,6.518867e+00,6.510544e+00,6.520396e+00,6.520392e+00,6.510916e+00,27.800000