# Preprocessing

* Cyclic time features
* p_num as categorical
*

In [1]:
from data import load_data

train_data, test_data = load_data()

unique_patients = test_data['p_num'].unique()
train_data = train_data[train_data['p_num'].isin(unique_patients)]
test_data = test_data[test_data['p_num'].isin(unique_patients)]

train_data.head()

,p_num,time,bg-5:55,bg-5:50,bg-5:45,bg-5:40,bg-5:35,bg-5:30,bg-5:25,bg-5:20,...,activity-0:40,activity-0:35,activity-0:30,activity-0:25,activity-0:20,activity-0:15,activity-0:10,activity-0:05,activity-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,06:10:00,NaN,NaN,9.6,NaN,NaN,9.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4
p01_1,p01,06:25:00,NaN,NaN,9.7,NaN,NaN,9.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
p01_2,p01,06:40:00,NaN,NaN,9.2,NaN,NaN,8.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.5
p01_3,p01,06:55:00,NaN,NaN,8.7,NaN,NaN,8.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
p01_4,p01,07:10:00,NaN,NaN,8.4,NaN,NaN,8.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.7

In [2]:
from pipelines import preprocessing_pipeline, standardization_pipeline

train_data = preprocessing_pipeline.fit_transform(train_data)
test_data = preprocessing_pipeline.transform(test_data)

In [3]:
train_data.head()

,p_num,hour_sin,hour_cos,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,...,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00,bg+1:00
id,,,,,,,,,,,,,,,,,,,,,
p01_0,p01,0.999048,-0.043619,17.2,17.5,17.9,18.2,18.3,18.3,18.4,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,13.4
p01_1,p01,0.994056,-0.108867,18.2,18.3,18.3,18.4,18.3,18.1,18.0,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,12.8
p01_2,p01,0.984808,-0.173648,18.4,18.3,18.1,18.0,17.8,17.5,17.3,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,15.5
p01_3,p01,0.971342,-0.237686,18.0,17.8,17.5,17.3,17.4,17.4,17.5,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,14.8
p01_4,p01,0.953717,-0.300706,17.3,17.4,17.4,17.5,17.4,17.4,17.3,...,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,6.07,12.7

In [4]:
test_data.head()

,p_num,hour_sin,hour_cos,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,...,cals-0:45,cals-0:40,cals-0:35,cals-0:30,cals-0:25,cals-0:20,cals-0:15,cals-0:10,cals-0:05,cals-0:00
id,,,,,,,,,,,,,,,,,,,,,
p01_8459,p01,0.980785,-0.195090,13.8,13.7,13.7,13.8,13.8,13.9,14.1,...,4.9,4.9,4.9,4.8,4.8,4.8,4.8,4.8,4.9,6.1
p01_8460,p01,0.152123,-0.988362,7.7,7.2,6.6,6.1,5.7,5.4,5.0,...,12.2,5.9,9.7,13.9,16.2,16.7,23.1,30.5,24.6,32.4
p01_8461,p01,-0.659346,-0.751840,5.1,5.1,5.2,5.2,5.2,5.3,5.3,...,19.2,17.6,10.0,25.2,12.3,6.8,6.5,8.0,19.8,10.2
p01_8462,p01,0.923880,0.382683,3.8,3.6,3.4,3.3,3.4,3.6,3.7,...,4.8,4.8,4.8,5.0,4.9,4.9,4.8,4.8,4.9,4.8
p01_8463,p01,0.906308,0.422618,4.3,4.0,3.7,3.4,3.3,3.2,3.1,...,10.3,4.8,4.8,4.8,4.9,4.8,4.8,4.8,4.8,4.8

In [5]:
train_data = standardization_pipeline.fit_transform(train_data)
test_data = standardization_pipeline.transform(test_data)

train_data.head()

,hour_sin,hour_cos,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,...,p_num_p10,p_num_p11,p_num_p12,p_num_p15,p_num_p16,p_num_p18,p_num_p19,p_num_p21,p_num_p22,p_num_p24
id,,,,,,,,,,,,,,,,,,,,,
p01_0,1.412185,-0.053043,2.787336,2.886563,3.014918,3.110415,3.145659,3.145481,3.176226,3.146905,...,0,0,0,0,0,0,0,0,0,0
p01_1,1.405123,-0.145283,3.107238,3.142752,3.143014,3.174445,3.145659,3.081397,3.048118,2.986641,...,0,0,0,0,0,0,0,0,0,0
p01_2,1.392038,-0.236863,3.171219,3.142752,3.078966,3.046385,2.985433,2.889145,2.823928,2.858430,...,0,0,0,0,0,0,0,0,0,0
p01_3,1.372987,-0.327393,3.043258,2.982634,2.886821,2.822280,2.857253,2.857103,2.887982,2.858430,...,0,0,0,0,0,0,0,0,0,0
p01_4,1.348051,-0.416484,2.819326,2.854539,2.854797,2.886310,2.857253,2.857103,2.823928,2.698166,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_data.head()

,hour_sin,hour_cos,bg-2:00,bg-1:55,bg-1:50,bg-1:45,bg-1:40,bg-1:35,bg-1:30,bg-1:25,...,p_num_p10,p_num_p11,p_num_p12,p_num_p15,p_num_p16,p_num_p18,p_num_p19,p_num_p21,p_num_p22,p_num_p24
id,,,,,,,,,,,,,,,,,,,,,
p01_8459,1.386347,-0.267176,1.699667,1.669663,1.669906,1.701756,1.703629,1.735632,1.799059,1.896846,...,0,0,0,0,0,0,0,0,0,0
p01_8460,0.213965,-1.388617,-0.251739,-0.411875,-0.603803,-0.763396,-0.892024,-0.987941,-1.115412,-1.180222,...,0,0,0,0,0,0,0,0,0,0
p01_8461,-0.934093,-1.054248,-1.083485,-1.084372,-1.052140,-1.051531,-1.052250,-1.019983,-1.019331,-1.084064,...,0,0,0,0,0,0,0,0,0,0
p01_8462,1.305838,0.549618,-1.499359,-1.564727,-1.628574,-1.659815,-1.629062,-1.564697,-1.531765,-1.372539,...,0,0,0,0,0,0,0,0,0,0
p01_8463,1.280977,0.606074,-1.339407,-1.436633,-1.532501,-1.627800,-1.661107,-1.692866,-1.723928,-1.757172,...,0,0,0,0,0,0,0,0,0,0